.history/*
source/*
source/**
applied_indicators/*
signals/*
testback/*
summary/*
python310/*
.idea/.gitignore
.idea/modules.xml
.idea/StrategyNova.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
